<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card bg-dark text-white shadow p-4">
    <h2 class="mb-4 text-center">LogIn</h2>
    <!-- success message -->
<div *ngIf="successMessage" class="alert alert-success">
  {{ successMessage }}
</div>

<!-- error message -->
<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter Your Email" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Enter Your Password" />
      </div>

      <p class="lead">
        Don't Have an account
        <a [routerLink]="['/account/register']" class="text-info">Register</a>
      </p>

      <button type="submit" class="btn btn-success d-block w-100">
        login
      </button>
    </form>
  </div>
</div>